
.counter {
	.counter-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		width: 100%;
		gap: 10px;

		.counter-item-icon {

			flex-grow: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
		}
	}
}