.header-carousel{
  // background-color: aqua;
  
  .carousel {
    .carousel-item {
      img {
        object-fit: cover;
        height: 700px;
      }
      height: 700px;
      .carousel-caption {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .6);
        display: flex;
        align-items: center;
      }
      
      // .input-group{
      //   svg {

      //   }
      // }
    }

  }

  // .carousel-item {

  // }
  // .carousel-indicators {

  // }
  @media (max-width: 992px) {
    .carousel-indicators {
      [data-bs-target] {
        display: none;
      }
    }
  }
}
.header-carousel >.carousel > .carousel-indicators {
  left: 75%;
  top: 50%;
  margin-right: 25%;
  transform: translateY(-50%);
  flex-direction: column;

  button {
    display: flex;
    width: 15px;
    height: 15px;
    border: 6px solid var(--bs-white);
    border-radius: 15px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--bs-secondary);
    opacity: 1;
    transition: 0.5s;
  }
  [data-bs-target].active {
    background-color: var(--bs-primary);
  }
}
